<header class="site-header csi-component-header">
  <div class="container header-container csi-component-header-container">
    <a href="#" class="logo csi-component-logo" data-href="index.html">
      <img
        src="#"
        data-src="assets/CsiLogos/CSI LOGO PNG.png"
        alt="Cyber Secured India Logo"
        class="csi-component-logo-img"
      />
    </a>

    <button class="mobile-menu-toggle csi-component-menu-toggle" aria-label="Toggle navigation">
      <span class="hamburger-line csi-component-hamburger-line"></span>
      <span class="hamburger-line csi-component-hamburger-line"></span>
      <span class="hamburger-line csi-component-hamburger-line"></span>
    </button>
    <nav class="nav-links csi-component-nav">
      
      <a href="#" data-href="pages/About/about.html" class="csi-component-nav-link">About</a>
      <a href="#" data-href="pages/Services/index.html" class="csi-component-nav-link">Services</a>
      <a href="#" data-href="pages/Gallery/index.html" class="csi-component-nav-link">Gallery</a>
      <a href="#" data-href="pages/Internships/index.html" class="csi-component-nav-link">Internships</a>
      <a href="#" data-href="pages/Publications/index.html" class="csi-component-nav-link">Publications</a>
      <a href="#" data-href="pages/COE/index.html" class="csi-component-nav-link">COE</a>
      <a href="#" data-href="pages/Associations/index.html" class="csi-component-nav-link">Associations</a>
      <a href="#" data-href="pages/Careers/index.html" class="csi-component-nav-link">Careers</a>
      <div class="social-icons csi-component-social">
        <a href="https://instagram.com/yourprofile" target="_blank" class="csi-component-social-link"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://t.me/yourchannel" target="_blank" class="csi-component-social-link"
          ><i class="fab fa-telegram"></i
        ></a>
        <a
          href="https://linkedin.com/company/cybersecuredindia/"
          target="_blank"
          class="csi-component-social-link"
          ><i class="fab fa-linkedin"></i
        ></a>
      </div>
    </nav>
  </div>
</header>
